.header {
  background-color: #020203;
  color: white;
  display: flex;
  padding: 20px 6% 15px 30px;
  align-items: center;
  font-size: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__img-container {
    display: flex;
    align-items: center;
    margin-right: 10%;
  }

  nav {
    flex: 1;

    .navlist {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      margin: 0;

      .navlink {
        color: white;
        text-decoration: none;
      }
    }
  }

  .logoText {
    color: #E60000;
    margin: 0 0 0 10px;
  }
}